// colors
$color-purple: rgb(68 71 145);
$color-purple-dark: rgb(50 53 112);
$color-black-light: rgb(173 170 170);
$color-white: rgb(255 255 255);
$color-black: rgb(0 0 0);

// fonts sizes
$font-size-base: 1.8rem;
$font-size-small: 1.5rem;
$font-size-large: 2rem;

// elements sizes
$content-width: 1600px;
$header-height: 50px;
$footer-height: 50px;
