@mixin long-text-to-dots() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon($content: "", $background) {
  content: $content;
  background: no-repeat center/100% $background;
}
