// colors
$color-purple-light: rgb(91 95 199);
$color-purple: rgb(68 71 145);
$color-purple-dark: rgb(50 53 112);
$color-black-light: rgb(173 170 170);
$color-white: rgb(255 255 255);
$color-white-dark: rgb(245 245 245);
$color-grey: rgb(243 242 241);
$color-grey-light: rgb(117 117 117);
$color-black: rgb(0 0 0);
$color-black-font: rgb(66 66 66);
$color-red: rgb(211 47 47);
$color-beige-light: rgb(237 235 233);
$color-beige: rgb(236 233 229);
$color-blue: rgb(0 120 215);
$color-blue-light: rgb(220 236 249);
$color-blue-dark: rgb(40 100 145);
$color-blue-lighter: rgb(186 218 243);
$color-blue-lightest: rgb(243 249 253);

// fonts sizes
$font-size-base: 1.8rem;
$font-size-small: 1.5rem;
$font-size-large: 2rem;

// elements sizes
$content-width: 1600px;
$header-height: 50px;
$footer-height: 50px;
$main-page-header: 45px;
$calendar-header-height: 50px;

// urls constants
$github-logo-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1652345776/github_ke79xc.svg");
$status-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660310631/calendar/5378817_camera_games_image_photo_screenshot_icon_pmh56g.svg");
$arrow-down-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660429714/calendar/2931160_down_direction_download_pointer_arrow_icon_lqd0xe.svg");
$arrow-up-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660746623/calendar/3671668_arrow_thin_up_icon_oo8nwf.svg");
$arrow-down-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660746652/calendar/3671655_arrow_down_icon_pkjhjh.svg");
$calendar-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660745070/calendar/290104_calendar_clock_date_event_schedule_icon_qq0azb.svg");
$calendar-week-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1660752582/calendar/9039893_calendar4_week_icon_ev3pnu.svg");
$calendar-dots-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1661774864/calendar/9023499_dots_three_fill_icon_nmjlfs.svg");
$calendar-edit-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1662209325/calendar/7239007_basic_pencil_draw_edit_write_icon_w50xha.svg");
$calendar-delete-event-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1662209865/calendar/185090_delete_garbage_icon_kxd3ur.svg");
$calendar-clocks-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1662215736/calendar/3643779_clock_hour_ticker_time_times_icon_tcxjal.svg");
$calendar-image-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1662358465/calendar/211703_calendar_icon_qdebt6.svg");
$calendar-add-user-url: url("https://res.cloudinary.com/rss-collection/image/upload/v1662446198/calendar/2231973_add_user_fb_friend_request_icon_ylz4sa.svg");

// shadows
$box-shadow-basic: 0 0 2px rgb(0 0 0 / 12%), 0 8px 16px rgb(0 0 0 / 14%);

// filters
$filter-blue-color: invert(36%) sepia(89%) saturate(1967%) hue-rotate(173deg) brightness(95%) contrast(101%);
